<section id="app" class="section app">
  <div class="section__inner">
    <h2 class="app__title">
      <span>가장 완벽한 ESS용 배터리</span>
    </h2>
    <div class="app__img">
      나는야 멀리서 다가오는 배터리~~
    </div>
    <div class="section__content">
      <p>친환경적이고, 안전하며,<br/>낮은 가격으로 최대의 효율을 낼 수 있는<br/>차세대 아연 금속 Staionary 배터리</p>
    </div>
  </div>
  <article class="article article__camp">
    <h3 class="article__title">안전한 배터리가 필요한 곳이라면 어디든.</h3>
    <div class="article__content">
      <strong class="article__point">캠핑용 배터리</strong>
      <p class="article__text">항상 사용자의 가까운 곳에 있는 만큼,<br/>캠핑용 배터리의 안전성은 타협할 수 없습니다.<br/>아연 브롬 배터리의 사용으로 당신의 안전을 보장받으세요.</p>
    </div>
  </article>
</section>
