<div id="at-main@@idx" class="article__main--@@class">
  <strong class="article__point"><span class="eng">@@eng</span><span>@@point</span></strong>
  <p class="article__text">@@text</p>
</div>


<!-- <article id="article@@idx" class="article article__@@class">
  <div class="inner">
    <div class="article__content">
      <h3 class="article__title">안전한 배터리가<br>필요한 곳이라면 어디든</h3>
      <div class="article__main">
        <strong class="article__point"><span class="eng">@@eng</span><span>@@point</span></strong>
        <p class="article__text">@@text</p>
        </div>
      </div>
    </div>
  </article> -->
