<section id="app" class="section app">
  <div class="ess">
      <div class="inner">
        <h2 class="ess__title">
          <span>가장 완벽한 ESS용 배터리</span>
        </h2>
        <p class="ess__info">친환경적이고 안전하며 낮은 가격으로<br /> 최대의 효율을 낼 수 있는 차세대 아연 금속 Staionary 배터리</p>
        <div class="ess__main">
          <img class="ess__img" src="./images/ess_img.png" alt="ESS Battery">
          <i class="ess__img-shadow"></i>
        </div>
      </div>
  </div>
  <div class="ess__spacer"></div>
</section>
