<div id="bt-trigger1" class="trigger"></div>

<section id="battery" class="section battery">
  <div class="showcase">
    <div class="inner">
      <h2 class="showcase__title">
        <span>ESS의 혁신</span>
        <span>차세대 아연 금속 전지와 함께</span>
      </h2>
      <div class="showcase__img">
        <div class="showcase__img-1"></div>
        <div class="showcase__img-2"></div>
        <div class="showcase__img-3"></div>
        <div class="showcase__img-4"></div>
        <div class="showcase__img-5"></div>
        <div class="showcase__img-6"></div>
        <div class="showcase__img-7"></div>
      </div>
      <div class="showcase__info">
        <p class="showcase__text">수계 아연브롬 전해액</p>
      </div>
    </div>
  </div>
  <div class="points">
    <div class="points__list">
      <button class="points__button points-flame">
        <em class="points__icon"></em>
        <span class="points__text">비발화</span>
      </button>
      <button class="points__button points-eco">
        <em class="points__icon"></em>
        <span class="points__text">친환경</span>
      </button>
      <button class="points__button points-price">
        <em class="points__icon"></em>
        <span class="points__text">저가격</span>
      </button>
    </div>
  </div>
</section>
