<div id="bt-trigger1" class="trigger"></div>

<section id="battery" class="section battery">
  <div class="section__inner battery__inner">
    <article class="showcase">
      <h2 class="showcase__title">
        <span>나나-라이크,</span>
        <span>나 쫌 멋진 듯?</span>
      </h2>
      <div id="bt-trigger2" class="trigger"></div>
      <div class="showcase__img">
        <div class="showcase__img-1"></div>
        <div class="showcase__img-2"></div>
        <div class="showcase__img-3"></div>
        <div class="showcase__img-4"></div>
        <div class="showcase__img-5"></div>
        <div class="showcase__img-6"></div>
        <div class="showcase__img-7"></div>
      </div>
    </article>
    <article class="points">
      <div class="points__list">
        <button class="points__button">
          <strong class="points__text">나는</strong>
        </button>
        <button class="points__button">
          <strong class="points__text">넘나</strong>
        </button>
        <button class="points__button">
          <strong class="points__text">쩐닷</strong>
        </button>
      </div>
    </article>
  </div>
</section>

<article class="lp battery__lp-1">
  <h2 class="lp__title">
    <span>비발화</span>
    <span>Non-flammable</span>
  </h2>
  <div class="lp__content">
    <p>발화하지 않는 배터리의 안전성.<br />우리는 그 당연한 가치를 수계 배터리로 이룹니다.</p>
    <p>안전한 ESS, 아직까지 잊고 계셨나요?<br />COSMOS LAB의 배터리와 함께한다면, 당연한 가치를 당연하게 받아들일 수 있습니다.<br />발화성이 전혀 없는 물을 사용한 배터리로 그 당연한
      가치를 누리세요.</p>
  </div>
  <button class="lp__close">닫기</button>
</article>
