<section id="contact" class="slide section contact">
  <div class="inner">
    <div class="contact__content">
      <h3 class="contact__title">코스모스랩 오시는 길</h3>
      <p class="contact__text">안전한 ESS를 위한 최적의 솔루션을 제공합니다.<br>코스모스랩의 제품 및 서비스에 대해 문의 주시면 빠른 시일 내에 답변 드리겠습니다.</p>
      <div class="contact__bottom">
        <div class="contact__addr">
          <strong>COSMOS LAB 코스모스랩</strong>
          <p>대전광역시 유성구 전민동 유성대로 1646</p>
        </div>
      </div>
      <div class="contact__info">
        <div class="contact__info-text">
          <strong>전화번호</strong>
          <p>042-719-2130</p>
        </div>
        <div class="contact__info-text">
          <strong>FAX</strong>
          <p>042-719-2130</p>
        </div>
        <div class="contact__info-text">
          <strong>E-mail</strong>
          <p><a href="mailto:cosmos@cosmoslab.io">cosmos@cosmoslab.io</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
