<div class="lp lp-flame"">
  <div class="lp__container">
    <div class="lp__main">
      <h2 class="lp__title">
        <span>비발화 Non-flammable</span>
      </h2>
      <div class="lp__point">
        <p>발화하지 않는 배터리의 안전성.<br />우리는 그 당연한 가치를 수계 배터리로 이룹니다.</p>
      </div>
      <div class="lp__content">
        <p>안전한 ESS, 아직까지 잊고 계셨나요?<br />COSMOS LAB의 배터리와 함께한다면, 당연한 가치를 당연하게 받아들일 수 있습니다.<br />발화성이 전혀 없는 물을 사용한 배터리로 그 당연한
          가치를 누리세요.</p>
      </div>
      <div class="lp__icon"></div>
    </div>
    <button class="lp__close"></button>
  </div>
  <div class="lp__dim"></div>
</div>
