<div id="visual" class="visual">
  <div class="visual__inner">
    <div class="visual__text">
      <h2 class="visual__title">
        @@if(context.lang === 'ko'){
          <span><em>폭발 없는 배터리</em></span>
          <span><em>그 꿈을 이루다</em></span>
        }
        @@if(context.lang === 'en'){
          <span><em>ESS without Explosion,</em></span>
          <span class="text-pc"><em>COSMOS Battery is the Solution</em></span>
          <span class="text-tablet" aria-role="none"><em>COSMOS Battery is</em></span>
          <span class="text-tablet" aria-role="none"><em>the Solution</em></span>
        }
      </h2>
      <a href="//youtube.com" target="_blank" rel="noopener" class="visual__link">Learn more</a>
    </div>
    <div id="player" class="visual__player">
      <video id="video" width="100%" loop autoplay muted>
          <source src="./images/wave.min.mp4" type="video/mp4">
        </video>
    </div>
  </div>
</div>
