<meta charset="UTF-8">
<title>COSMOS LAB</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="코스모스랩" />
<meta name="keywords" content="배터리, 전기배터리, 코스모스랩, ESS" />

<meta property="og:site_name" content="COSMOS LAB" />
<meta property="og:title" content="COSMOS LAB" />
<meta property="og:description" content="폭발 없는 배터리, 그 꿈을 이루다" />
<meta property="og:url" content="http://cosmoslab.kr" />
<meta property="og:image" content="http://cosmoslab.kr/images/ogImage.png" />
<meta name="theme-color" content="#1d1f2d" />

<link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="./images/favicon/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="./images/favicon/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png" />
<meta name="msapplication-TileImage" content="./images/favicon/ms-icon-150x150.png" />
<link rel="stylesheet" href="style.css">
