<footer class="footer">
  <div class="inner">
    <div class="footer__logo"></div>
    <div class="footer__info">
      <div class="footer__text footer__text-horizontal">
        @@if(context.lang === 'ko'){
        <p style="color: #fff">사업자등록번호 188-81-02234</p>
        <p>대표이사 이주혁</p>
        <p style="color: #fff">전화번호 042-719-2130</p>
        }
        @@if(context.lang === 'en'){
        <p style="color: #fff">Corporate Registration Number 188-81-02234</p>
        <p>CEO Ju-hyuk Lee</p>
        <p style="color: #fff">Tel. 042-719-2130</p>
        }
      </div>
      <div class="footer__text">
        @@if(context.lang === 'ko'){
        <p>대전광역시 유성구 관평동 698 코스모스랩</p>
        }

        @@if(context.lang === 'en'){
        <p>698, Gwanpyeong-dong, Yuseong-gu, Daejeon, Republic of Korea</p>
        }
      </div>
      <div class="footer__text">
        <p>Copyright ⓒ Cosmos lab. All right reserved.</p>
      </div>
    </div>
    <a class="footer__top" aria-label="맨 위로"></a>
  </div>
</footer>
