<header class="header">
  <div class="header__inner">
    <h1 class="logo">
      <a href="#" class="header__logo-link" aria-label="첫 화면으로"><span>COSMOS</span></a>
    </h1>
    <a class="burger" aria-label="메뉴 여닫기 버튼">
      <div aria-label="hidden" class="burger__line-wrap">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </div>
    </a>
    <nav class="header__nav">
      <div class="header__menu">
        <a href="#battery" class="header__menu-link">
          <span class="header__menu-bound">
            <span class="header__menu-text" data-text="Battery">Battery</span>
          </span>
          <span class="header__menu-line" aria-role="none"><em>Battery</em></span>
        </a>
        <a href="#app" class="header__menu-link">
          <span class="header__menu-bound">
            <span class="header__menu-text" data-text="Application">Application</span>
          </span>
          <span class="header__menu-line" aria-role="none"><em>Application</em></span>
        </a>
        <a href="#contact" class="header__menu-link">
          <span class="header__menu-bound">
            <span class="header__menu-text" data-text="Contact Us">Contact Us</span>
          </span>
          <span class="header__menu-line" aria-role="none"><em>Contact Us</em></span>
        </a>
      </div>
      <div class="header__lang">
        <a class="header__lang-item toKo" aria-label="한문 페이지" href="index.html">KOR</a>
        <a class="header__lang-item toEn" aria-label="영문 페이지" href="index_en.html">ENG</a>
      </div>
    </nav>
  </div>
</header>
<div class="header__bg"></div>
