<header class="header">
  <div class="header__inner">
    <h1 class="logo">
      <a aria-label="홈 화면으로"><span>COSMOS</span></a>
    </h1>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item"><a class="header__menu-link" href="#battery">Battery</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="#app">Application</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="#contact">Contact Us</a></li>
      </ul>
      <ul class="header__lang">
        <li class="header__lang-item lang-ko is-active"><a aria-label="한문 페이지" href="">KOR</a></li>
        <li class="header__lang-item lang-en"><a aria-label="영문 페이지" href="">ENG</a></li>
      </ul>
    </nav>
  </div>
</header>
