// Break Point
$desktop: 1920px;
$laptop : 1280px;
$tablet: 1024px;
$mobile: 500px;
$vh-height: 980px;

// Desktop
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

// Laptop
@mixin laptop {
  @media screen and (max-width: #{$laptop}) {
    @content;
  }
}

// Tablet
@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

// Mobile
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin vh {
  @media screen and (min-width: #{$tablet}) and (max-height: #{$vh-height}) {
    @content;
  }
}
