@use "helpers/variables" as var;

@mixin setLayout {
  max-width: calc(#{var.$inner-width} + #{var.$inner-padding} + #{var.$inner-padding});
  padding-left: var.$inner-padding;
  padding-right: var.$inner-padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}


// 글자 줄임 표시
@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}


@mixin bgi($name, $type: "png") {
  background-image: url(#{var.$path-image}#{$name}.#{$type});
}
