@use "helpers/svg"as svg;
@use "helpers/variables"as var;
@use "helpers/mediaQueries"as md;
@use "helpers/mixins"as *;

.battery {
  position: relative;
  width: 100%;
  background-color: #1d1f2d;

  .showcase {
    position: relative;
    width: 100%;
    height: calc(100vh - #{var.$header-height});
    min-height: 108rem;
    background-color: #1d1f2d;
    box-sizing: border-box;

    @include md.tablet {
      height: calc(100vh - #{var.$mobile-header-height});
      min-height: 88rem;
    }

    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include md.tablet {
        min-height: 100%;
        align-items: stretch;
      }

      @include md.mobile {
        padding: 0 2.5rem;
      }
    }

    &__title {
      margin-bottom: 6rem;
      color: #fff;
      font-size: 4.8rem;
      text-align: center;
      letter-spacing: -.2rem;

      @include md.tablet {
        font-size: 3.4rem;
        margin-bottom: 2.7rem;
      }

      @include md.mobile {
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }

      span {
        display: block;
        word-break: keep-all;
      }
    }

    &__main {
      flex-shrink: 0;
      position: relative;
      width: 100%;
      height: 40rem;

      @include md.tablet {
        height: 28rem;
        transform: scale(0.62);
      }

      @include md.mobile {
        height: 20rem;
        transform: scale(0.45);
      }

    }

    &__img {
      display: block;
      top: 12%;
      left: 50%;
      margin-left: -24rem;
      font-size: 3vmin;
      text-align: center;
      font-weight: bold;
      color: #fff;
      position: absolute;
      width: 24rem;
      height: 24.5rem;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      &.sc {
        &-all {
          @include bgi("sc_all");
          top: 8%;
          opacity: 1;
          width: 25rem;
          margin-left: -12rem;
        }

        @for $i from 1 through 6 {
          &-#{$i} {
            @include bgi("sc_#{$i}");
          }
        }

        &-1 {
          margin-top: 3.7rem;
          margin-left: -17rem;
        }

        &-2 {
          margin-top: 4.2rem;
          margin-left: -6.5rem;
        }

        &-3 {
          margin-top: 10rem;
          margin-left: -.9rem;
        }

        &-4 {
          margin-top: 12rem;
          margin-left: 5rem;
        }

        &-5 {
          margin-top: 14rem;
          margin-left: 11rem;
        }

        &-6 {
          margin-top: 16rem;
          margin-left: 17rem;
        }
      }
    }

    &__guide {
      position: relative;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 3rem;

      @include md.tablet {
        display: none;
      }
    }

    &__guide-mobile {
      display: none;
      width: 100%;
      padding: 0 1rem;
      margin: calc(4rem + 2vh) auto calc(4rem + 3vh);
      color: #fff;
      font-size: 1.8rem;
      box-sizing: border-box;

      .sc-span-mo {
        display: block;
        margin-bottom: .6rem;

        &:before {
          display: inline-block;
          width: .6rem;
          height: .6rem;
          margin-right: 1.2rem;
          background-color: #fff;
          border-radius: 50%;
          vertical-align: middle;
          content: '';
        }
      }

      @include md.tablet {
        display: block;
        max-width: 40rem;
        font-size: 1.6rem;
        color: rgb(255, 255, 255, .7);
      }

      @include md.mobile {
        font-size: 1.4rem;
      }
    }

    &__text {
      position: absolute;
      font-size: 1.8rem;
      letter-spacing: -.1rem;

      .sc-line {
        position: absolute;
        display: block;
        width: 9.5rem;
        height: 5.2rem;
      }

      .sc-path {
        opacity: 0;

        &.on {
          opacity: 1;
          stroke-dasharray: 1214;
          stroke-dashoffset: 1214;
          animation: drawLine .5s linear forwards;
        }
      }

      .sc-span {
        display: block;
        text-align: right;
        word-break: keep-all;
      }

      .sc-dot {
        position: absolute;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #4f96f5;
        border-radius: 50%;

        &.is-active:after {
          animation: dotPoint 1.2s infinite both;
        }

        &:after {
          position: absolute;
          display: block;
          top: -.1rem;
          left: -.1rem;
          width: 100%;
          height: 100%;
          transform: scale(1.35);
          border: 1px solid #fff;
          border-radius: 50%;
          content: '';
        }
      }

      @keyframes dotPoint {
        0% {
          opacity: 1;
        }
        40% {
          transform: scale(1.8);
        }
        70% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      &.sc-text-1 {
        width: 26.5rem;
        top: 2rem;
        left: 50%;
        margin-left: -67rem;

        .sc-line {
          top: 1.2rem;
          left: calc(100% + 1.5rem);
          width: 9.5rem;
          height: 5.2rem;
        }

        .sc-dot {
          right: -1.2rem;
          bottom: -1.3rem;
        }
      }

      &.sc-text-2 {
        top: 5rem;
        left: 50%;
        margin-left: 15.4rem;

        .sc-line {
          top: 1.2rem;
          right: calc(100% + 1.5rem);
          width: 15rem;
          height: 9rem;
        }

        .sc-dot {
          left: -1.2rem;
          bottom: -1.3rem;
        }
      }
      &.sc-text-3 {
        width: 38.4rem;
        bottom: 4.1rem;
        left: 50%;
        margin-left: -52rem;

        .sc-line {
          bottom: 1.2rem;
          left: calc(100% + 1.5rem);
          width: 12.7rem;
          height: 4.2rem;
        }

        .sc-dot {
          top: -1.2rem;
          right: -1.2rem;
        }
      }

      &.sc-text-4 {
        top: 14.6rem;
        left: 50%;
        margin-left: 26.6rem;

        .sc-line {
          top: 1.2rem;
          right: calc(100% + 1.5rem);
          width: 19.2rem;
          height: 4.7rem;
        }

        .sc-dot {
          bottom: -1.1rem;
          left: -1.1rem;
        }
      }
    }
  }

  .points {
    width: 100%;
    padding-top: 7.6rem;
    background-color: #1d1f2d;
    box-sizing: border-box;

    @include md.tablet {
      min-width: 100%;
      padding: 0 1rem;
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;

      &.on .points__button {
        opacity: 1;
        transform: translateY(0);
      }

      @include md.tablet {
        width: 40rem;
        justify-content: space-between;
        margin: 0 auto;
      }

      @include md.mobile {
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
      }
    }

    &__button {
      $_points-list: flame, eco, price;

      opacity: 0;
      display: block;
      color: #fff;
      background-color: transparent;
      font-size: 2.4rem;
      transition: opacity .6s .1s, transform .6s;
      transform: translateY(2vmin);

      animation-duration: 700ms;
      animation-fill-mode: both;

      @include md.tablet {
        font-size: 1.9rem;
      }

      @include md.mobile {
        font-size: 1.5rem;
      }

      &:not(:first-child) {
        margin-left: 12rem;

        @include md.tablet {
          margin-left: 0;
        }

      }

      &:hover,
      &.is-active {
        color: #4f96f5;
        font-weight: var.$medium;

        .points__icon {
          transform: translateY(-4px);
        }
      }

      @each $points in $_points-list {
        &.points-#{$points} .points__icon {
          background-image: svg.img(#{$points});
        }

        &.points-#{$points}.is-active .points__icon,
        &.points-#{$points}:hover .points__icon {
          background-image: svg.img(#{$points}, '4f96f5');
        }
      }

      @for $i from 0 through length($_points-list) {
        &:nth-child(#{$i}) {
          animation-delay: #{$i*110}ms;
        }

        &:nth-child(#{$i+1}) {
          transition-delay: #{$i*140}ms;
        }
      }
    }

    &__icon {
      display: block;
      width: 12.8rem;
      height: 12.8rem;
      margin: 0 auto 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      box-sizing: border-box;
      pointer-events: none;
      transition: transform 350ms ease-out 40ms, background 200ms ease-in-out 10ms;

      @include md.tablet {
        width: 10rem;
        height: 10rem;
      }
      @include md.mobile {
        width: 7.2rem;
        height: 7.2rem;
      }
    }

    &__text {
      display: block;
      font-weight: var.$regular;
      pointer-events: none;
      transition: color 200ms ease-in-out 10ms;
    }
  }

  @keyframes showPoints {
    0% {
      opacity: 0;
      transform: translateY(-2vmin);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// 🍄 English
.lang-en {
  .showcase__title {
    letter-spacing: -.1rem;
  }
  .showcase__text {
    letter-spacing: -.06rem;
  }
}
