@use "helpers/svg"as svg;
@use "helpers/variables"as var;
@use "helpers/mediaQueries"as md;
@use "helpers/mixins"as *;

.battery {
  position: relative;
  // z-index: -1;
  // visibility: hidden;
  width: 100%;
  // padding-bottom: 10rem;
  background-color: #1d1f2d;
  min-width: var.$inner-width; //TODO:
  min-height: 960px; //TODO:

  // &.is-visible {
  //   z-index: 1;
  //   visibility: visible;
  // }

  .showcase {
    position: relative;
    width: 100%;
    height: 100vh;
    min-width: var.$inner-width; //TODO:
    min-height: 960px; //TODO:
    background-color: #1d1f2d;
    box-sizing: border-box;

    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      // margin-top: 10.5rem;
      margin-bottom: 6rem;
      color: #fff;
      font-size: 4.8rem;
      text-align: center;
      letter-spacing: -.2rem;

      span {
        display: block;
      }
    }

    &__main {
      flex-shrink: 0;
      position: relative;
      width: 100%;
      height: 40rem;
      outline: 3px dashed #008bb1; //TODO:
    }

    &__img {
      // opacity: 0;
      display: block;
      top: 10%;
      left: 50%;
      margin-left: -12rem;
      font-size: 3vmin;
      text-align: center;
      font-weight: bold;
      color: #fff;
      position: absolute;
      width: 24rem;
      height: 24.5rem;
      // display: none;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      &.sc {

        &-all {
          top: 8%;
          // 전체
          // transform: scale(2);
          opacity: 1;
          width: 25rem;
          // background-color: black;
          background-image: url(#{var.$path-image}sc_all.png);
        }

        @for $i from 1 through 7 {
          &-#{$i} {
            // outline: 3px solid rgb(random(100), random(100), random(100));
            background-image: url(#{var.$path-image}sc_#{$i}.png);
          }
        }
      }
    }

    &__guide {
      position: relative;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 30px;
    }

    &__text {
      position: absolute;
      font-size: 1.8rem;
      letter-spacing: -.1rem;

      .sc-line {
        position: absolute;
        display: block;
        width: 9.5rem;
        height: 5.2rem;
      }

      .sc-path {
        // opacity: 0;

        &.on {
          opacity: 1;
          stroke-dasharray: 1214;
          stroke-dashoffset: 1214;
          animation: drawLine .5s linear forwards;
        }
      }

      .sc-span {
        display: block;
        // opacity: 0;
      }

      .sc-dot {
        // opacity: 0;
        position: absolute;
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #4f96f5;
        border-radius: 50%;

        &:after {
          position: absolute;
          top: -.1rem;
          left: -.1rem;
          display: block;
          width: 100%;
          height: 100%;
          transform: scale(1.4);
          border: 1px solid #fff;
          border-radius: 50%;
          content: '';
        }
      }

      &.sc-text-1 {
        top: 2rem;
        left: 50%;
        margin-left: -55rem;

        .sc-line {
          top: 1.2rem;
          left: calc(100% + 1.5rem);
          width: 9.5rem;
          height: 5.2rem;
        }

        .sc-dot {
          right: -1.2rem;
          bottom: -1.3rem;
        }
      }

      &.sc-text-2 {
        top: 5rem;
        left: 50%;
        margin-left: 15.4rem;

        .sc-line {
          top: 1.2rem;
          right: calc(100% + 1.5rem);
          width: 15rem;
          height: 9rem;
        }

        .sc-dot {
          left: -1.2rem;
          bottom: -1.3rem;
        }
      }
      &.sc-text-3 {
        bottom: 4.1rem;
        left: 50%;
        margin-left: -32rem;

        .sc-line {
          bottom: 1.2rem;
          left: calc(100% + 1.5rem);
          width: 12.7rem;
          height: 4.2rem;
        }

        .sc-dot {
          top: -1.2rem;
          right: -1.2rem;
        }
      }

      &.sc-text-4 {
        top: 14.6rem;
        left: 50%;
        margin-left: 26.6rem;

        .sc-line {
          top: 1.2rem;
          right: calc(100% + 1.5rem);
          width: 19.2rem;
          height: 4.7rem;
        }

        .sc-dot {
          bottom: -1.1rem;
          left: -1.1rem;
        }
      }

    }
  }

  @keyframes drawLine {
    0% {
        stroke-dashoffset: 1214;
      }
    100% {
        stroke-dashoffset: 0;
    }
  }

  .points {
    width: 100%;
    min-width: var.$inner-width; //TODO:
    padding-top: 7.6rem;
    background-color: #1d1f2d;
    box-sizing: border-box;

    &.on {
      .points__button {
        // animation-name: showPoints;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      $_points-list: flame, eco, price;

      // opacity: 0;
      display: block;
      color: #fff;
      background-color: transparent;
      font-size: 2.4rem;
      transition: opacity .6s .1s, transform .6s;
      transform: translateY(-2vmin);

      animation-duration: 700ms;
      animation-fill-mode: both;

      &:not(:first-child) {
        margin-left: 12rem;
      }

      &:hover {
        color: #4f96f5;
        font-weight: var.$medium;
      }

      @each $points in $_points-list {
        &.points-#{$points} .points__icon {
          background-image: svg.img(#{$points});
        }

        &.points-#{$points}:hover .points__icon {
          background-image: svg.img(#{$points}, '4f96f5');
        }
      }

      @for $i from 0 through length($_points-list) {
        &:nth-child(#{$i}) {
          animation-delay: #{$i*110}ms;
        }

        &:nth-child(#{$i+1}).on {
          opacity: 1;
          transform: translateY(0);
          transition-delay: #{$i*140}ms;
        }
      }
    }

    &__icon {
      display: block;
      width: 12.8rem;
      height: 12.8rem;
      margin-bottom: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      box-sizing: border-box;
      pointer-events: none;
    }

    &__text {
      display: block;
      font-size: 2.4rem;
      font-weight: var.$regular;
      pointer-events: none;
    }
  }

  @keyframes showPoints {
    0% {
      opacity: 0;
      transform: translateY(-2vmin);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
