@use "helpers/svg" as svg;
@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;

.battery {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #1d1f2d;

  .showcase {
    width: 100%;
    height: 100vh;
    min-width: var.$inner-width; //TODO:
    min-height: var.$inner-height;
    background-color: #1d1f2d;
    box-sizing: border-box;

    .inner {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      margin-top: 10.5rem;
      margin-bottom: 3.5rem;
      color: #fff;
      font-size: 4.8rem;
      text-align: center;
      letter-spacing: -.2rem;

      span {
        display: block;
      }
    }

    &__img {
      width: 100%;
      height: calc(90vh - 10rem);
      outline: 3px dashed greenyellow;

      & > * {
        position: absolute;
        display: block;
        width: 30vmin;
        height: 30vmin;
        background: red;
      }

      &-2 {
        background: orange;
      }

      &-3 {
        background: yellow;
      }

      &-4 {
        background: green;
      }

      &-5 {
        background: blue;
      }

      &-6 {
        background: navy;
      }

      &-7 {
        background: purple;
      }
    }

    &__info {

    }
  }

  .points {
    width: 100%;
    min-width: var.$inner-width; //TODO:
    padding: 4rem 0 10rem;
    background-color: #1d1f2d;
    box-sizing: border-box;

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__button {
      $_points-list : flame, eco, price;

      display: block;
      color: #fff;
      background-color: transparent;
      font-size: 2.4rem;

      &:not(:first-child) {
        margin-left: 12rem;
      }

      &:hover {
        color: #4f96f5;
        font-weight: var.$medium;
      }

      @each $points in $_points-list {
        &.points-#{$points} .points__icon  {
          background-image: svg.img(#{$points});
        }
        &.points-#{$points}:hover .points__icon {
          background-image: svg.img(#{$points}, '4f96f5');
        }
      }
    }

    &__icon {
      display: block;
      width: 12.8rem;
      height: 12.8rem;
      margin-bottom: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      box-sizing: border-box;
      pointer-events: none;
    }

    &__text {
      display: block;
      font-size: 2.4rem;
      font-weight: var.$regular;
      pointer-events: none;
    }
  }
}
