@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;

body {
  // width: 100%;
  // height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.inner {
  @include setLayout;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}


.br-mo {
  display: none;

  @include md.mobile {
    display: block;
  }
}

.br-pc {
  display: block;

  @include md.tablet {
    display: none;
  }
}


.wrap {
  @include md.mobile {
    // overflow-x: hidden;
  }
}
