@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;

:root {
  --app-height: 100%;
}

body {
  // width: 100%;
  // height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.inner {
  @include setLayout;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}


.is-mobile .header.is-active {
  background: blue !important;
}

.br-laptop {
  display: none;
  @include md.laptop {
    display: block;
  }
}



.br-mo {
  display: none;

  @include md.tablet {
    display: none;
  }

  @include md.mobile {
    display: block;
  }
}

.br-pc {
  display: block;

  @include md.tablet {
    display: none;
  }
  @include md.mobile {
    display: none;
  }

  &.br-tablet {
    @include md.desktop {
      display: block;
    }
    @include md.tablet {
      display: block;
    }
    @include md.mobile {
      display: none;
    }
  }

  &.br-mobile {
    @include md.tablet {
      display: none;
    }
    @include md.mobile {
      display: block;
    }
  }
}

.br-tablet {
  display: none;

  @include md.tablet {
    display: block;
  }

  @include md.mobile {
    display: none;
  }

  &.br-mo {
    @include md.mobile {
      display: block;
    }
  }
}

.wrap {
  @include md.mobile {
    // overflow-x: hidden;
  }
}
