@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;

.contact {
  @include bgi("bg_contact_2x");
  position: relative;
  width: 100%;
  height: 108rem;
  box-sizing: border-box;
  background-color: #f3f0e7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;

  @include md.vh {
    height: 92rem;
  }


  @include md.tablet {
    height: auto;
    overflow: hidden;
    padding-top: 7.3rem;
    background-image: none;
    background-color: #fff;
  }

  .inner {
    @include md.mobile {
      padding: 0 2rem;
    }
  }

  &__content {
    width: 62rem;
    padding: 6.4rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);

    @include md.tablet {
      width: 100%;
      padding: 0;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  &__title {
    display: block;
    margin-bottom: 2.5rem;
    font-size: 4.8rem;
    font-weight: var.$bold;
    letter-spacing: -.29rem;

    @include md.vh {
      font-size: calc(1rem + 4vmin);
      margin-bottom: calc(1rem + 1vmin);
    }

    @include md.tablet {
      font-size: 3.8rem;
      letter-spacing: -.18rem;
    }

    @include md.mobile {
      font-size: calc(2.7rem + .35vmin);
    }
  }

  &__text {
    position: relative;
    font-weight: var.$regular;
    font-size: 2rem;
    line-height: 1.6;
    color: rgba(34, 34, 34, 0.7);
    letter-spacing: -.13rem;
    word-break: keep-all;

    @include md.vh {
      font-size: calc(.9rem + 1.3vmin);
    }

    @include md.tablet {
      font-size: 1.6rem;
      letter-spacing: -.1rem;
    }

    @include md.mobile {
      font-size: calc(1.4rem + .1vmin);
    }
  }

  &__bottom {
    position: relative;
    margin-top: 11rem;
    color: #222;

    @include md.tablet {
      margin-top: 6.4rem;
    }

    &:before,
    &:after {
      position: absolute;
      top: -5.5rem;
      left: 0;
      display: block;
      content: '';
      height: .2rem;

      @include md.tablet {
        top: -3.2rem;
      }
    }

    &:before {
      width: 100%;
      background-color: rgb(55, 53, 43, .15);
    }

    &:after {
      width: 6.4rem;
      background-color: #6097ee;

      @include md.mobile {
        width: 5.4rem;
      }
    }
  }

  &__addr {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    letter-spacing: -.07rem;

    @include md.tablet {
      font-size: calc(.8rem + 1.2vmin);
    }

    @include md.tablet {
      font-size: 1.6rem;
      margin-bottom: 2.8rem;
    }

    @include md.mobile {
      font-size: calc(1.4rem + .1vmin);
    }

    strong {
      font-size: 2.4rem;
      font-weight: var.$bold;
      line-height: 1.75;
      letter-spacing: -.08rem;

      @include md.tablet {
        font-size: 2rem;
      }

      @include md.mobile {
        font-size: calc(1.9rem + .1vmin);
      }
    }
  }

  &__info {
    font-size: 2rem;

    @include md.tablet {
      font-size: 1.6rem;
    }

    @include md.mobile {
      font-size: calc(1.4rem + .1vmin);
    }

    &-text {
      display: block;
      margin-top: 1rem;

      @include md.tablet {
        display: flex;
        align-items: center;
        margin-top: .5rem;
      }

      strong {
        font-weight: var.$regular;
        line-height: 1.55;
        font-size: 1.6rem;

        @include md.tablet {
          display: block;
          width: 5.3rem;
          margin-right: 2.2rem;
          font-size: 1.4rem;
        }

        @include md.mobile {
          width: 4.6rem;
          font-size: calc(1.2rem + .1vmin);
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        letter-spacing: -.05rem;
      }
    }
  }

  &__map {
    display: none;

    @include md.tablet {
      @include bgi("bg_contact_mo_2x");
      display: block;
      margin-top: 6rem;
      width: 100%;
      height: auto;
      padding-top: 64%; //375:240 = 25:16 => 16/25 = 0.64
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  &__marker {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 192rem;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);

    .icon {
      position: absolute;
      top: 54rem;
      left: 50%;
      margin-left: 26.6rem;
      width: 5.2rem;
      height: 6.8rem;
    }
  }

}
