@use "helpers/svg" as svg;
@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;

.footer {
  width: 100%;
  height: 27rem;
  min-width: var.$inner-width; //TODO:
  color: #fff;
  background-color: #1d1f2d;

  .inner {
    // @include setLayout;
    position: relative;
  //   display: flex;
  //   width: 100%;
  //   height: 100%;
  //   min-width: var.$inner-width; //TODO:
  }

  &__logo {
    flex-shrink: 0;
    width: 14rem;
    height: 4.2rem;
    margin-top: 1.6rem;
    margin-right: 8.7rem;
    background-image: svg.img(logo);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__info {
    font-size: 1.6rem;
  }

  &__text {
    margin-top: 1rem;

    &:first-child {
      margin-left: 0;
    }

    p {
      flex-shrink: 0;
      position: relative;
      margin-right: 3.2rem;

      & + p:before {
        position: absolute;
        top: .5rem;
        left: -1.5rem;
        display: inline-block;
        content: '';
        width: .1rem;
        height: 1.5rem;
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

  &__top {
    position: absolute;
    top: 14.5rem;
    right: 0;
    display: block;
    width: 5rem;
    height: 5rem;
    background-image: url(#{var.$path-image}ic_top.png);
    background-size: 4rem 4rem;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__text-horizontal {
    display: flex;
  }
}
