@use "helpers/svg" as svg;
@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;
@use "helpers/mixins" as *;


.header {
  z-index: map-get(var.$z-index, "header");
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: var.$header-height;
  transition: background-color .5s;

  @include md.tablet {
    height: var.$mobile-header-height;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 132rem;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.8rem;
    box-sizing: border-box;

    @include md.tablet {
      max-width: none;
      transition: background-color .5s;
    }
  }

  .logo {
    z-index: 2;
    position: relative;
    flex-shrink: 0;
    display: block;
    width: 11.2rem;
    height: 3.4rem;
    margin-right: 7rem;
    background-image: svg.img(logo);
    background-size: 100%;
    background-repeat: no-repeat;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    span {
      @include blind;
    }

    @include md.tablet {
      width: 8rem;
      height: 2.4rem;
    }
  }

  .burger {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    @include md.tablet {
      opacity: 1;
      visibility: visible;
    }

    .burger__line-wrap {
      position: relative;
      width: 2.5rem;
      height: 1.6rem;
    }

    &__line {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: .2rem;
      background-color: #fff;
      pointer-events: none;
      transition: transform 400ms, opacity 300ms;

      &:nth-child(2) {
        top: .8rem;
      }

      &:nth-child(3) {
        top: 1.6rem;
      }
    }
  }

  &__nav {
    z-index: 20;
    width: calc(100% - 19rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md.tablet {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      position: fixed;
      top: var.$mobile-header-height;
      right: 0;
      width: 100%;
      height: calc(100% - var.$mobile-header-height);
      min-height: calc(-webkit-fill-available - var.$mobile-header-height);
      padding-bottom: 4rem;
      box-sizing: border-box;
      flex-direction: column;
      background-color: #1d1f2d;
    }
  }

  &__menu {
    display: flex;
    padding-top: .2rem;

    @include md.tablet {
      width: 100%;
      padding-top: 0;
      flex-direction: column;
      align-items: flex-start;
    }

    &-link {
      position: relative;
      display: inline-block;
      font-size: 1.7rem;
      margin-left: .8rem;
      padding: 0 2rem;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: -.035rem;
      transform: scaleY(.9);
      font-size: 1.82rem;
      text-decoration: none;
      white-space: nowrap;
      text-align: center;
      color: #fff;
      transition: color .5s;

      &:first-child {
        margin-left: 0;
      }

      &:hover .header__menu-text {
        color: #fff;
        transform: skewY(7deg) translateY(-140%);
      }

      &:hover .header__menu-text:after {
        color: #fff;
        transform: skewY(-7deg);
      }

      body:not(.mq-mobile) .header:not(.is-opened) &.is-active .header__menu-text {
        color: #643193;
      }

      .header:not(.is-opened) &.is-active .header__menu-line {
        opacity: 1;
        transform: scaleX(1) scaleY(1) translateZ(0);
      }

      @include md.tablet {
        margin-left: 0;
        height: 4rem;
        line-height: 3.6rem;
        padding: 1.3rem 2rem;
        text-align: left;
        width: 100%;
        border-bottom: .1rem solid rgb(112, 112, 112, .2);

        &:first-child {
          border-top: .1rem solid rgb(112, 112, 112, .2);
        }
      }

      @include md.mobile {
        font-size: 1.62rem;
      }

    }

    &-text {
      position: relative;
      display: block;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: left center;

      &:after {
        content: attr(data-text);
        display: block;
        position: absolute;
        top: 140%;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    &-bound {
      position: relative;
      display: block;
      padding-bottom: .4rem;
      overflow: hidden;
    }

    &-line {
      top: calc(100% - .3rem);
      left: 2rem;
      opacity: 0;
      display: flex;
      transform: scaleX(0) scaleY(1) translateZ(0);
      transform-origin: 50% 50%;
      background-color: #643193;
      transition: opacity .3s, transform 1s cubic-bezier(0.19, 1, 0.22, 1);

      em {
        display: inline-block;
        visibility: hidden;
        height: 3px;
      }

      @include md.tablet {
        display: none;
      }
    }


  }

  &__lang {
    display: flex;
    box-sizing: border-box;

    &-item {
      position: relative;
      opacity: 0.6;
      margin-left: 2.6rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: inherit;
      font-size: inherit;
      text-transform: uppercase;
      cursor: pointer;

      &:before {
        position: absolute;
        top: .6rem;
        left: -1.3rem;
        display: inline-block;
        content: '';
        width: .1rem;
        height: 1.6rem;
        background-color: rgba(255, 255, 255, .6);
        transition: none;
      }

      &:first-child {
        margin-left: 0;

        &:before {
          display: none;
        }
      }
    }

    @include md.tablet {
      width: 100%;
      padding: 0 2rem;
    }
  }

  &:after {
    visibility: hidden;
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 150%;
    background-color: #1d1f2d;
    content: '';
  }

}

.header.is-active {
  background-color: #fff;

  &:not(.is-opened) {
    .logo {
      background-image: svg.img(logo-color);
    }

    .burger {
      &__line {
        background-color: #222;
      }
    }

    .header__inner {
      @include md.tablet {
        background-color: #fff;
      }
    }

    .header__menu-link {
      position: relative;
      color: #222;
    }

    .header__lang-item  {
      color: #222;
    }

    .header__menu-link:hover {
      .header__menu-text {
        color: #643193;

        &:after {
          color:#643193;
        }
      }
    }

    .header__lang-item:before {
      background-color: #bcbcbc;
    }
  }

  .header__menu-item:hover {
    & > a .text {
      transform: skewY(7deg) translateY(-140%) translateZ(0);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
    & > a .text:after {
      transform: skewY(-7deg) translateZ(0);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

}

.header.is-opened {
  $_name : header;

  .#{$_name}__inner {
    background-color: #1d1f2d;
  }

  .#{$_name}__nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto !important;
  }

  .burger {
    transform: scale(1.2);
  }

  .burger__line {
    height: 0.1rem;

    &:nth-child(1) {
      transform: translate3d(0, 7px, 0) rotate(45deg);
    }

    &:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }

    &:nth-child(3) {
      top: 12px;
      transform: translate3d(0, -5px, 0) rotate(-45deg);
    }
  }

  &:after {
    display: block;
    visibility: visible;
  }
}



// 🚩 [UA] MOBILE
.is-mobile .header__menu-link:hover {
  .header__menu-text {
    transform: none;
  }
}

.lang-en {
  .toKo {
    opacity: .6;
  }
  .toEn {
    opacity: 1;
  }
}

.lang-ko {
  .toKo {
    opacity: 1;
  }
  .toEn {
    opacity: .6;
  }
}
