@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;

.visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: var.$inner-height;
  background-color: #1d1f2d;

  @include md.tablet {
    min-height: 100%;
  }

  &.is-hidden {
    display: none;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 28rem;
  }

  &__text {
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 7rem;
    font-size: 10rem;
    font-weight: var.$light;
    letter-spacing: -.45rem;
    line-height: 1.2;
    padding: 0 2rem;
    box-sizing: border-box;
    color: #fff;

    span {
      display: block;
      overflow: hidden;
      line-height: 1.2;

      & + span {
        margin-top: 1.1rem;
      }
    }

    em {
      display: block;
    }

    .text-tablet {
      display: none;
    }


    @include md.laptop {
      font-size: calc(7rem + 2vmin);
      margin-bottom: 5rem;

      .text-pc {
        display: none;
      }

      .text-tablet {
        display: block;
      }
    }

    @include md.tablet {
      margin-bottom: 3.5rem;
      font-size: calc(3.6rem + 1.6vmin);
      letter-spacing: -.3rem;
    }

    @include md.mobile {
      font-size: 3.6rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 1.3rem 7rem;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1;
    font-weight: var.$regular;
    border: .1rem solid rgba(255, 255, 255, .5);
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, .2);

    @include md.desktop {
      font-size: 1.8rem;
    }

    @include md.tablet {
      padding: 1.1rem 7rem;
    }
  }

  &__player {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url(#{var.$path-image}video_cover.jpeg);
    // background-color: #1d1f2d;
    // background-size: cover;
    // background-position: 50% 50%;

    video {
      opacity: 0;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      transition: opacity 200ms;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__cover {
    z-index: -1;
    position: absolute;
    top: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
}

// 🍄 English
.lang-en .visual__title {
  font-size: 9rem;

  @include md.laptop {
    font-size: calc(4rem + 2vmin);
  }

  @include md.tablet {
    font-size: calc(3rem + 1.6vmin);
    letter-spacing: -.1rem;
  }

  @include md.mobile {
    font-size: calc(1rem + 4vw);
  }
}
