@use "helpers/variables" as var;
@use "helpers/mediaQueries" as md;

.visual {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: var.$inner-width; //TODO:
  min-height: var.$inner-height;
  background-color: #1d1f2d;

  &.is-hidden {
    display: none;
  }

  &__inner {
    display: flex;
    width: inherit;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 30rem;
    min-width: var.$inner-width; //TODO:
  }

  &__text {
    text-align: center;
  }

  &__title {
    font-size: 10rem;
    text-align: center;
    margin-bottom: 7rem;
    font-weight: var.$light;
    letter-spacing: -.45rem;
    line-height: 1.3;
    color: #fff;

    span {
      display: block;
    }

    @include md.desktop {
      font-size: 10rem;
    }
  }

  &__link {
    display: inline-block;
    padding: 1.3rem 7rem;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1;
    font-weight: var.$regular;
    border: .1rem solid rgba(255, 255, 255, .5);
    border-radius: .4rem;
    background-color: rgba(255, 255, 255, .2);
  }

  &__player {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    video {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      width: 100vw;
      height: 100vh;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }

  }
}
