<!DOCTYPE html>
<html lang="ko">
<head>
  @@include("common/_document-head.html")
</head>
<body>
  <div class="wrap ua-mobile"> <!--TODO: user-agent-->
    @@include("common/_header.html")
    @@include("layouts/_intro.html")
    @@include("layouts/_visual.html")
    <div class="marker marker-battery">
      @@include("layouts/_battery.html")
    </div>
    <div class="marker marker-app">
      @@include("layouts/_app.html")
    </div>
    <div class="marker marker-contact">
      @@include("layouts/_contact.html")
      @@include("common/_footer.html")
    </div>
  </div>
  @@include("common/_script.html")
</body>
</html>
